<h2 class="text-center">2008 Beijing Olympics Results</h2>
<h5 class="text-center">(ranked by total medals)</h5>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table" ng-if="vm.fullList.length > 0">
            <thead>
            <tr>
                <th colspan="2" class="rank">Country</th>
                <th class="country"></th>
                <th><img src="/img/ic_medal-small-gold_2x.png" alt="total medals" title="Gold medals"></th>
                <th><img src="/img/ic_medal-small-silver_2x.png" alt="total medals" title="Silver medals"></th>
                <th><img src="/img/ic_medal-small-bronze_2x.png" alt="total medals" title="Bronze medals"></th>
                <th><img src="/img/ic_medal-small-total_2x.png" alt="total medals" class="total-img"
                         title="Total medals"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="row-athlete" ng-repeat="item in vm.fullList | limitTo: vm.rangeNum">

                <td colspan="2">{{$index+1}}</td>
                <td class="country">{{::item.country}}</td>
                <td>{{::item.medals.Gold}}</td>
                <td>{{::item.medals.Silver}}</td>
                <td>{{::item.medals.Bronze}}</td>
                <td class="total">{{::item.total}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr><td colspan="7">
                <button class="btn btn-link" ng-click="vm.showAll()" ng-if="vm.rangeNum <= 10">
                    <i class="glyphicon glyphicon-chevron-right"></i> All countries</button>
                <button class="btn btn-link" ng-click="vm.showLess()" ng-if="vm.rangeNum > 10">
                    <i class="glyphicon glyphicon-chevron-up"></i> Show less</button>
            </td></tr>
            </tfoot>

        </table>
    </div>
    <div class="col-sm-2"></div>
</div>